<?xml version="1.0" ?>
<phpunit
        bootstrap="Bootstrap.php"
        haltOnError="true"
        haltOnFailure="true"
        colors="true">

    <testsuites>
        <testsuite name="Test Client">
            <directory>./module/Client/test/ClientTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./module/Client/src</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>